.game{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background-image: url(../media/ocean.jpg);
    width: 520px;
    height: max-content;
}
.gamePrep{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background-image: url(../media/ocean.jpg);
    width: 520px;
    height: max-content;
}
.row{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-content: space-around;
    margin-bottom: 10px;
}
.square{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 2px black;
    transition: all 0.15s ease;
}
.square:hover{
    /*Background image from the assets folder*/
    /*make the appearance of the bg image smoother*/
    background-image: url(../media/circle.jpg);
    background-size: cover;
    cursor: pointer;
}

.squareHit{
    width: 40px;
    background-image: url(../media/circleHit.png);
    background-size: cover;
    cursor: pointer;
    height: 40px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 3px 2px black;
    transition: all 0.15s ease;
}


.squareMiss{
    width: 40px;
    background-image: url(../media/circle.jpg);
    background-size: cover;
    cursor: pointer;
    height: 40px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 3px 2px black;
    transition: all 0.15s ease;
}